.dockerignore
.gitignore
.env
nginx.conf
nginx.dev.conf
Dockerfile
docker-compose.yml
docker-compose.dev.yml

frontend/dist
frontend/node_modules
frontend/.gitignore
frontend/dev.Dockerfile
frontend/docker-compose.dev.yml
frontend/Dockerfile

backend/database/tests
backend/client
backend/images
backend/mocks
backend/.air.toml
backend/.dev.env
backend/.env
backend/dev.Dockerfile
backend/Dockerfile
