.layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
    
  .header {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #163020;
    font-size: 24px;
  }
    
  .content {
    display: flex;
    flex: 1;
  }
    
  .side-container {
    width: 250px;
    padding: 1rem;
    border-right: 1px solid #163020;
  }
    
  .main-container {
    flex: 1;
    padding: 1rem;
  }
  
  .nav-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .nav-container li {
    margin-bottom: 1rem;
  }
  
  .nav-container a {
    text-decoration: none;
    font-size: 16px;
    color: #163020;
    padding: 10px;
    display: block;
    transition: background-color 0.1s ease;
  }
  
  .nav-container a:hover,
  .nav-container a.active {
    background-color: #B6C4B6;
    color: #163020;
    border-radius: 4px;
  }
    
  .growerFlowerList {
    width: 100%;
    overflow-x: auto;
    margin: 20px 0;
  }
    
  #growerFlowerList {
    width: 100%;
    border-collapse: collapse;
  }
    
  #growerFlowerList th {
    padding: 15px 15px;
    text-align: left;
  }
  
  #growerFlowerList td {
    padding: 15px 15px;
    text-align: left;
  }
    
  #growerFlowerList thead {
    background-color: #B6C4B6;
    color: #163020;
    font-weight: bold;
    font-size: 18px;
  }
    
  #growerFlowerList tbody tr {
    border-bottom: 1px solid #ddd;
  }
    
  #growerFlowerList tbody tr:hover {
    background-color: #f6f6f6eb;
  }

  #deleteFlowerButton {
    background-color: #B6C4B6;
    color: #163020;
    border: none;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 5px;
  }

#modifyFlowerButton {
  background-color: #B6C4B6;
  color: #163020;
  border: none;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 5px 2px;
  cursor: pointer;
  border-radius: 5px;
}

  #showFlowerPageButton {
    background-color: #B6C4B6;
    color: #163020;
    border: none;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 5px;
  }

  .flower-button {
    background-color: #B6C4B6;
    color: #163020;
    border: none;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 5px;
  }

  .flower-button:hover {
    filter: brightness(0.85)
  }

  .flower-button:active {
    filter: brightness(0.7);
  }

  #visibilityButton {
    margin-left: 10px;
    margin-top: -5px;
    position: absolute;
  }

  .input-wrapper input {
    background-color: #EEF0E5(255, 255, 255);
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    text-align: left;
    width: 15rem;
    border-radius: 1rem;
    box-shadow: none;
    color: #163020;
    cursor: pointer;
  }
  
  .input-wrapper input:hover{
    outline-color:none;
    cursor: pointer;
  }


/* main tabs styling */
  .menu-tab {
    font-size: 16px;
    padding: 10px 25px; 
    color: #163020; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    border-radius: 5px;
  }

  .menu-tab:hover {
    color: #163020;
    border-radius: 5px; 
    background-color: none;
  }
  

  .menu-tab.active {
    background-color: none; 
    border-radius: 5px; 
    font-weight: bold;
  }