.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
  
.header {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #163020;
  font-size: 24px;
}
  
.content {
  display: flex;
  flex: 1;
}
  
.side-container {
  width: 250px;
  padding: 1rem;
  border-right: 1px solid #163020;
}
  
.main-container {
  flex: 1;
  padding: 1rem;
}

.nav-container ul {
  list-style-type: none;
  padding: 0;
}

.nav-container li {
  margin-bottom: 1rem;
}

.nav-container a {
  text-decoration: none;
  font-size: 18px;
  color: #163020;
  padding: 10px;
  display: block;
  transition: background-color 0.1s ease;
}

.nav-container a:hover,
.nav-container a.active {
  background-color: #B6C4B6;
  color: #163020;
  border-radius: 4px;
}
  
.retailerFlowerList {
  width: 100%;
  overflow-x: auto;
  margin: 20px 0;
}
  
#retailerFlowerList {
  width: 100%;
  border-collapse: collapse;
}
  
#retailerFlowerList th {
  padding: 15px 15px;
  text-align: left;
}

#retailerFlowerList td {
  padding: 15px 15px;
  text-align: left;
}
  
#retailerFlowerList thead {
  background-color: #B6C4B6;
  color: #163020;
  font-weight: bold;
  font-size: 18px;
}
  
#retailerFlowerList tbody tr {
  border-bottom: 1px solid #ddd;
}
  
#retailerFlowerList tbody tr:hover {
  background-color: #f6f6f6eb;
}

.input-wrapper input {
  background-color: #B6C4B6;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: left;
  width: 15rem;
  border-radius: 1rem;
  color: #163020;
  cursor: pointer;
}

.input-wrapper input:focus {
  outline-color: #B6C4B6;
}

.checkbox_container {
  display: inline-block;
  margin-right: 10px;
}