.carousel-item img {
  width: 100%;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 90%;
  padding: 15px;
}
