form {
    padding-top: 0.1rem;
    padding-bottom: 0.7rem;
}

form>div {
    margin-top: 0.5rem;
}

#flowerList {
    margin-top: 1rem;
}

th {
    text-align: left;
}

td {
    padding: 1rem 2rem 0 0;
}

.nav-bar {
	background-color: #f6f6f6;
}

.menu-button {
	background-color: #f6f6f6;
	border-color: #f6f6f6
}

.menu-button.hover {
	background-color: #f6f6f6;
	border-color: #f6f6f6
}

.dropdown-menu {
	background-color: #f9f9f9;
  width: max-content;
}

.offcanvas-thin {
	width: 250px !important;
	max-width: 250px !important;
	background-color: #f6f6f6;
}

.tab-bar {
	background-color: #f6f6f6;
}

.tab-bar .nav-link {
	padding: 0.5rem 1.5rem;
}

.tab-bar .nav-link.active {
	background-color: #f9f9f9;
	border-radius: 0.5rem 0.5rem 0 0;
	--bs-nav-tabs-border-color: #163020;
	--bs-nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #f9f9f9;
	
}

.container {
  max-width: 95%;
	height: 100%;
	margin: 2rem;
}

a {
  text-decoration: none;
}

#sort-icon {
	display: inline-block;
	position: relative;
	width: 1em;
	height: 1em;
}

#sort-icon-down {
	position: absolute;
	top: 8px;
	font-size: 0.6em;
	padding-left: 5px;
}

#sort-icon-up {
	position: absolute;
	bottom: 2px;
	font-size: 0.6em;
	padding-left: 5px;
}