form {
    padding-top: 0.1rem;
    padding-bottom: 0.7rem;
}

form > div {
    margin-top: 0.5rem;
}

#flowerList {
    margin-top: 1rem;
}

th {
    text-align: left;
}

td {
    padding: 1rem 2rem 0 0;
}
